# 리스트
## - 리스트 저장 형태

In [1]:
a = ['홍길동', '강감찬', '이순신']
print(a)
print(type(a))

['홍길동', '강감찬', '이순신']
<class 'list'>

In [4]:
# 데이터 접근
print(a[0])
print(a[1])
print(a[2])

홍길동
강감찬
이순신

In [2]:
# 슬라이싱 기능
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(x[0:5]) # index 0 ~ 4 까지 출력 
print(x[5:]) # 5 ~ 마지막 까지 출력
print(x[:3]) # 처음 ~ 2 까지 출력

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3]

In [8]:
# '+' 연산자를 통한 리스트간의 결합 기능
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
a = [1, 2, 3, 4, 5]
a[2] = 30
print(a)
print(len(a))

[1, 2, 30, 4, 5]
5

## - 리스트 제공 메서드

In [17]:
a = [1, 3, 5]

a.append(7)
print(a)

[1, 3, 5, 7]

In [4]:
b = [9, 11, 13]
a.extend(b)
print(a)

['홍길동', '강감찬', '이순신', 9, 11, 13, 9, 11, 13]

In [19]:
a = [1,3,5,7]
a.insert(1, 2)
print(a)

[1, 2, 3, 5, 7, 9, 11, 13]

In [20]:
a = [1, 2, 3, 5, 7, 9, 11, 13]
a.remove(11)  # 삭제 값 지정
print(a)

[1, 2, 3, 5, 7, 9, 13]

In [21]:
a.remove(10) # error 발생

ValueError: list.remove(x): x not in list

In [22]:
a = [1, 2, 3, 5, 7, 9, 13]
a.pop()
print(a)

[1, 2, 3, 5, 7, 9]

In [23]:
a = [1, 2, 3, 5, 7, 9]
a.pop(1)    # 인덱스 지정.
print(a)

[1, 3, 5, 7, 9]

In [24]:
a = ['abc', 'def', 'ghi']
print(a.index('ghi'))

2

In [25]:
print(a.index('klm'))   # error 발생

ValueError: 'klm' is not in list

In [26]:
a = [1, 100, 2, 200, 3, 300]
print(a.count(100))

1

In [27]:
a = [7, 5, 9, 4, 2]
a.sort()
print(a)

[2, 4, 5, 7, 9]

In [28]:
a.sort(reverse=True)
print(a)

[9, 7, 5, 4, 2]

In [29]:
a = [7, 5, 9, 4, 2]
a.reverse()
print(a)

[2, 4, 9, 5, 7]

# 튜플(Tuple)

In [5]:
a = (1, 2, 3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [6]:
b = 1, 2, 3, 4
print(b)
print(type(b))

(1, 2, 3, 4)
<class 'tuple'>

In [35]:
# 주의
c = (1)
type(c)

int

In [36]:
d = 1
type(d)

int

In [37]:
e = (1,)
type(e)

tuple

In [38]:
f = 1, # (,) comma 와 함께 사용
type(f)

tuple

In [7]:
# 슬라이싱 가능
x = (1, 2, 3, 4, 5, 6)
print(x[3:6]) # index 3 ~ 5 (start = 0)
print(x[:2])  # index 처음 ~ 1 (strart = 0)
print(x[4:])  # index 4 ~ 마지막 (start = 0)

(4, 5, 6)
(1, 2)
(5, 6)

In [41]:
# '+' 연산자를 통한 튜플간의 결합 기능 
m = (1, 2, 3)
n = (4, 5, 6)

concat = m + n # 종합 시킴  
concat

(1, 2, 3, 4, 5, 6)

In [43]:
print(m[1])
m[1] = 20 # 튜플은 데이터 수정이 불가능  - error

2

TypeError: 'tuple' object does not support item assignment

In [44]:
m = (1, 2, 3)
m.append(4)  # error - 메서드 지원 x 데이터에 대한 직접적인 수정에 대한 메서드는 지원되지 않는다.

AttributeError: 'tuple' object has no attribute 'append'

## - 튜플 제공 메서드

In [45]:
a = ('abc', 'def', 'ghi')
print(a.index('ghi'))

2

In [47]:
b = (1, 100, 2, 200, 3, 300)
print(b.count(100))
print(b.count(3))

1
1

In [48]:
# 튜플 패킹(tuple packing) : 여러 가지 데이터를 튜플로 묶는 것.
a = 1, 2, 3
print(a)

(1, 2, 3)

In [49]:
# 튜플 언패킹(tuple Unpacking) : 각 요소를 여러 개의 변수에 할당하는 것.
data = 'Seoul', 37.541, 126.986  # 지역 (문자) / 경도 (숫자 - 실수) / 위도 (숫자 - 실수)

city, latitude, longitude = data # 3개의 변수 선언 (입력한 변수의 순서대로 담겨진다)

print(city)
print(latitude)
print(longitude)

Seoul
37.541
126.986

# 딕셔너리(Dictionary)

In [2]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print(dic)
print(type(dic))

{'애플': 'www.apple.com', '네이버': 'www.naver.com', '파이썬': 'www.python.org'}
<class 'dict'>

In [3]:
# 데이터 접근 방법 
print(dic['파이썬'])

www.python.org

In [5]:
# 데이터 삽입
dic2 = {} # 딕셔너리 형태로 자료형 고정(key, value 형태로 데이터 관리) 
print(type(dic2))

dic2['애플'] = 'www.apple.com'
dic2['네이버'] = 'www.naver.com'
dic2['파이썬'] = 'www.python.org'

print(dic2)

<class 'dict'>
{'애플': 'www.apple.com', '네이버': 'www.naver.com', '파이썬': 'www.python.org'}

## - 딕셔너리 제공 메서드

In [6]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print(dic.keys())

dict_keys(['애플', '네이버', '파이썬'])

In [7]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print(dic.values())

dict_values(['www.apple.com', 'www.naver.com', 'www.python.org'])

In [8]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print(dic.items())

dict_items([('애플', 'www.apple.com'), ('네이버', 'www.naver.com'), ('파이썬', 'www.python.org')])

In [10]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print('애플' in dic.keys())
print('다음' in dic.keys())

True
False

In [11]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print('www.naver.com' in dic.values())

True

In [12]:
# 데이터 제거
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
print(dic.pop('애플'))
print(dic)

www.apple.com
{'네이버': 'www.naver.com', '파이썬': 'www.python.org'}

In [13]:
dic = {'애플':'www.apple.com','네이버':'www.naver.com','파이썬':'www.python.org'}
dic.clear()
print(dic)

{}